<%- include('./partials/_header'); %>

<div class="wrapper">
    
    <div class="main-bg"></div>

    <header class="header-footer header-out">
        <h1 class="title"><span class="serif-title">algo<span class="basic-title">Basic</span></span></h1>
    </header>

    <div class="login-box">
        <div class="login">
            <h2 class="create-title" id="createTitle">CREATE ROOM</h2>
            <hr class="white-hr">
            <form id="playForm" action="/" method="POST">
                <div class="box">
                    <label id="userLabel">Username</label>
                    <input class="input-box" type="text" name="username" id="username" autocomplete="off" maxlength="16" required>
                </div>
                <div class="box">
                    <label id="roomLabel">Room Key</label>
                    <% if(roomKey === undefined) {%>
                        <input class="input-box" type="text" name="roomKey" id="roomKey" autocomplete="off" maxlength="8" required>
                    <% } else { %>
                        <input class="input-box" value="<%= roomKey %>" type="text" name="roomKey" id="roomKey" autocomplete="off" maxlength="8" required>
                    <% } %>
                </div>
                <button class="white-button" id="playButton">PLAY</button>
            </form> 

            <% if(alert) {%>
                <div class="full-alert">
                    <span><i class="fa-solid fa-triangle-exclamation" style="color: yellow;"></i></span>
                    &nbsp;&nbsp;<%= alertMsg %>
                </div>
            <% } %>
        </div>
    </div>

    <footer class="header-footer footer-out">
        <div class="footer-content-wrapper">
            <a href="/howtoplay" target="_blank" class="how-to-link" id="howToPlay">How To Play?</a>
            <span class="github-link" id="contrib">Report issues or contribute to the GitHub Project over <a href="https://github.com/notvalproate/Algo-Game" target="_blank">here!</a></span>
            <div class="white-button setting" id="languageButton">
                <i class="fa-solid fa-language"></i>
            </div>
        </div>
    </footer>

    <div class="language-modal display-none" id="language-modal">
        <div class="language-wrapper">
            <span class="select-lang" id="selectLang">SELECT LANGUAGE</span>
            <hr class="white-hr">
            <ul class="lang-options">
                <li class="white-button lang-option" id="enOption">
                    English
                </li>
                <li class="white-button lang-option" id="itOption">
                    Italiano
                </li>
                <li class="white-button lang-option" id="jaOption">
                    日本語
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="module" src="<%= isProduction ? '/prod/index.js' : '/dev/js/index.js' %>" charset="utf-8"></script>

<%- include('./partials/_footer'); %>