<%- include('./partials/_header'); %>

<header>
    <h1 class="title">Lobby</h1>
</header>

<section class="board">
    <div class="key">
        <img src="icons/key_logo.png" alt="Key:">
        <h2 id="roomkey"><%= roomKey %></h2>
    </div>
    <div class="player-display">
        <div class="players" id="you"><%= username %></div>
        <div class="versus">
            <h1 class="vvv">V</h1>
            <div class="versus-block"></div>
            <h1 class="sss">S</h1>
        </div>
        <div class="players" id="enemy"><%= enemyUsername %></div>
    </div>
    <button class="button ready-button" id="ready-button">
        READY 
        <span id="ready-count"><%= numberOfPlayersReady %></span>
        /2
    </button>
</section>

<section class="desk">
    <section class="inner-desk">
        <div class="hand-container enemy-hand-container">
            <h2 class="user-name" id="enemy-username"><%= enemyUsername %></h2>
            <div class="deck" id="enemyHand">
            </div>
        </div>

        <div class="pick-deck" id="pickDeck">
            <div class="card open" id="dealer"></div>
        </div>

        <div class="hand-container my-hand-container">
            <div class="deck" id="yourHand">
            </div>
            <h2 class="user-name" id="my-username"><%= username %></h2>
        </div>
    </section>
    <section class="pick-array" id="pick-array">
        <button class="pick-button">0</button>
        <button class="pick-button">1</button>
        <button class="pick-button">2</button>
        <button class="pick-button">3</button>
        <button class="pick-button">4</button>
        <button class="pick-button">5</button>
        <button class="pick-button">6</button>
        <button class="pick-button">7</button>
        <button class="pick-button">8</button>
        <button class="pick-button">9</button>
        <button class="pick-button">10</button>
        <button class="pick-button">11</button>
    </section>
</section>

<footer>
    <h3>&copy; 2023 - ALGO</h3>
</footer>


<!-- Scripts -->
<script src="/js/browserifyBundles/algoCardBundle.js"></script>
<script src="/js/play.js" type="module"></script>

<%- include('./partials/_footer'); %>