<%- include('./partials/_header'); %>

<section class="board">
    <section class="inner-board">
        <div class="key">
            <img src="/icons/key_logo.png" alt="Key Icon">
            <h2 id="roomkey"><%= roomKey %></h2>
        </div>
        <div class="player-display">
            <div class="players" id="you"><%= username %></div>
            <div class="versus">
                <h1 class="vvv">V</h1>
                <div class="versus-block"></div>
                <h1 class="sss">S</h1>
            </div>
            <div class="players" id="enemy"><%= enemyUsername %></div>
        </div>
        <button class="ready-button" id="ready-button">READY <span id="ready-count">0</span>/2</button>
    </section>
</section>


<!-- Scripts -->
<script>
    const enemyUsername = '<%= enemyUsername %>'
    const username = '<%= username %>';
    const roomKey = '<%= roomKey %>';
</script>

<script src="/js/play.js" type="text/javascript"></script>

<%- include('./partials/_footer'); %>