<%- include('./partials/_header'); %>

<header>
    <h1 class="title">Lobby</h1>
</header>

<section class="board">
    <div class="key">
        <img src="icons/key_logo.png" alt="Key:">
        <h2 id="roomkey"><%= roomKey %></h2>
    </div>
    <div class="player-display">
        <div class="players" id="you"><%= username %></div>
        <div class="versus">
            <h1 class="vvv">V</h1>
            <div class="versus-block"></div>
            <h1 class="sss">S</h1>
        </div>
        <div class="players" id="enemy"><%= enemyUsername %></div>
    </div>
    <button class="button ready-button" id="ready-button">
        READY 
        <span id="ready-count"><%= numberOfPlayersReady %></span>
        /2
    </button>
</section>

<section class="desk">
    <section class="inner-desk">
        <div class="deck">
            <ul class="card-deck" id="enemyDeck">

            </ul>
        </div>
        <div class="pick-deck" id="pickDeck">
            <div class="card"></div>
        </div>
        <div class="deck">
            <ul class="card-deck" id="yourDeck">

            </ul>
        </div>
    </section>
</section>


<footer>
    <h3>&copy; 2023 - ALGO</h3>
</footer>


<!-- Scripts -->
<script>
    const numberOfPlayersReady = '<%= numberOfPlayersReady %>'
    const enemyUsername = '<%= enemyUsername %>'
    const username = '<%= username %>';
    const roomKey = '<%= roomKey %>';
</script>

<script src="/js/browserifyBundles/algoCardBundle.js"></script>
<script src="/js/play.js" type="text/javascript"></script>

<%- include('./partials/_footer'); %>