<%- include('./partials/_header'); %>

<header>
    <h1 class="title">Lobby</h1>
</header>

<section class="lobby">
    <div class="key">
        <img src="icons/key_logo.png" alt="Key">
        <h2 id="room-key"><%= roomKey %></h2>
    </div>
    <div class="player-display">
        <div class="players" id="me"><%= username %></div>
        <div class="versus">
            <h1 class="vvv">V</h1>
            <div class="versus-block"></div>
            <h1 class="sss">S</h1>
        </div>
        <div class="players" id="enemy"><%= enemyUsername %></div>
    </div>
    <button class="button ready-button" id="ready-button">
        READY 
        <span id="ready-count"><%= numberOfPlayersReady %></span>
        /2
    </button>
</section>

<section class="desk-wrapper">
    <section class="desk">
        <div class="hand-container enemy-hand-container">
            <h2 class="username" id="enemy-username"><%= enemyUsername %></h2>
            <div class="hand" id="enemy-hand">
            </div>
        </div>

        <div class="draw-pile">
            <div class="decision-wrapper attack decision-inactive decision-fade-away">
                <img src="/images/sword.png" alt="sword" class="decision-image">
                <span class="decision-text">ATTACK</span>
            </div>
            <div class="card open dealt-card-class" id="dealt-card"></div>
            <div class="decision-wrapper hold decision-inactive decision-fade-away">
                <img src="/images/hold.png" alt="hold" class="decision-image">
                <span class="decision-text">HOLD</span>
            </div>
        </div>

        <div class="hand-container my-hand-container">
            <div class="hand" id="my-hand">
            </div>
            <h2 class="username" id="my-username"><%= username %></h2>
        </div>
    </section>
    <section class="guess-array">
        <button class="guess-button">0</button>
        <button class="guess-button">1</button>
        <button class="guess-button">2</button>
        <button class="guess-button">3</button>
        <button class="guess-button">4</button>
        <button class="guess-button">5</button>
        <button class="guess-button">6</button>
        <button class="guess-button">7</button>
        <button class="guess-button">8</button>
        <button class="guess-button">9</button>
        <button class="guess-button">10</button>
        <button class="guess-button">11</button>
    </section>
</section>

<footer>
    <h3>&copy; 2023 - ALGO</h3>
</footer>


<!-- Scripts -->
<script src="/js/browserifyBundles/algoCardBundle.js"></script>
<script src="/js/play.js" type="module"></script>

<%- include('./partials/_footer'); %>